body {
  text-align: center;
  font-size: 1em;
  font-family: 'Arial', Courier, monospace;
  margin: 0;
}
.header {
  padding: 30px;
  font-size: 1.2em;
}
.app-container {
  width: 700px;
  height: 560px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  display: grid;

}
.word-container {
  background-color: white;
  width: 700px;
  height: 360px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-column-gap: 5px;
}
.word {
  text-align: center;
  display: flex;
  align-items: center;
}
.word > label {
  display: flex;
  width: 150px;
  height: 80px;
  border: 1px solid transparent;
  margin: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
}
label {
  border-radius: 8px;
  font-family: inherit;
  background-color: #efefe6;
  cursor: pointer;
  transition: border-color 0.25s;
  line-height: 82px;
  vertical-align: middle;
}
/* this removes the input square from the input element so it is text only */
.hidden-checkbox {
  display: none;
}

input {
  display: none;
}
span {
  /* display: block; */
  width: 100%;
  height: 100%;
}
input:checked + span {
  outline: 4px auto -webkit-focus-ring-color;
  background-color: rgb(90, 89, 78);
  color: white;
  border-radius: 8px;
}

.shuffle-button,
.deselect-all-button,
.submit-button {
  height: 55px;
  width: 120px;
  padding: 15px;
  margin: 4px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1.1em;
  font-weight: 700;
}
.shuffle-button,
.deselect-all-button {
    background-color: white;
    color: black;
}
.deselect-all-button {
    width: 140px;
}
.shuffle-button:disabled,
.deselect-all-button:disabled {
    cursor: auto;
    color: #979797;
}
.submit-button {
  background-color: black;
  color: white;
}
.submit-button:disabled {
  cursor: auto;
  background-color: white;
  color: #979797;
}

.mistakes-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.mistakes-remaining-text {
    vertical-align: 'middle';
    width: 150px;
    height: 16px;
    display: flext;
    padding-right: 5px;
}
.mistakes-span {
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background-color: black;
    margin: 3px;
}

label.shaken {
    animation: shake 0.5s ease;
}
label.bounce {
    animation: bounce 1.0s ease;
}
label.flip {
    animation: flip 1.0s ease;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes bounce {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.answer-container {
    background-color: white;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    width: 700px;
    /* padding: 5px; */
    /* display: none; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-row-gap: 10px;
    justify-content: center;
}
section {
    width: 650px;
    height: 80px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;
    align-items: center;
    vertical-align: middle;
    line-height: 80px;
    text-transform: uppercase;
    justify-content: center;
    margin: 0 auto;
}
section[datalevel="0"] {
    display: none;
    background-color: #b0c4ef;
    animation: bounce 1.0s 0.5s ease forwards;
}
section[datalevel="1"] {
    display: none;
    background-color: #f9df6d;
    animation: bounce 1.0s 0.5s ease forwards;
}
section[datalevel="2"] {
    display: none;
    background-color: #a0c35a;
    animation: bounce 1.0s 0.5s ease forwards;
}
section[datalevel="3"] {
    display: none;
    background-color: #861cab;
    animation: bounce 1.0s 0.5s ease forwards;
}